$origins: (
    'top',
    'right',
    'bottom',
    'left'
);

$bounce-out: cubic-bezier(.45, 1.8, .75, 1);

@include tablet {
    @each $origin in $origins {
        .enter-from-#{$origin} {
            position: relative;
            #{$origin}: -100px;
            opacity: 0;
            transition: #{$origin} 0.5s ease-out, opacity 0.5s ease-out;

            &.has-entered {
                #{$origin}: 0;
                opacity: 1;
            }
        }
    }

    .pop-in {
        animation: pop-in 0.5s $bounce-out 0s 1 normal backwards paused;

        &.has-popped-in {
            animation-play-state: running;
        }
    }
}

@keyframes pop-in {
    from {
        transform: scale(0.5);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

$delays: (
    '100',
    '200'
);

@each $delay in $delays {
    .delay-#{$delay} {
        transition-delay: #{$delay}ms;

        &.pop-in {
            transition-delay: 0s;
            animation-delay: #{$delay}ms;
        }
    }
}
