@charset "utf-8";

$navy: #34495E;
$navy-dark: #2C3E50;
$gold: #DC8F2A;
$gold-light: lighten($gold, 20%);
$gold-dark: darken($gold, 10%);
$blue: #2f85d9;
$blue-dark: darken($blue, 10%);
$red: #ff6040;

$primary: $gold;
$primary-invert: $navy-dark;
$white-invert: $navy-dark;
$link: $blue;
$link-hover: $blue-dark;
$dark: $navy-dark;
$danger: $red;
$family-primary: "Chivo", sans-serif;
$family-secondary: "Space Mono", monospace;
$body-background-color: $navy;
$body-color: white;
$text-strong: white;
$title-color: white;
$label-color: white;
$size-1: 96px;
$size-2: 56px;
$size-3: 36px;
$size-4: 30px;
$size-5: 20px;
$size-6: 18px;
$size-7: 13px;

$text: $navy;

$navbar-background-color: $navy-dark;
$navbar-item-color: white;
$navbar-item-img-max-height: 50px;
$navbar-height: 5.125rem;

$button-border-width: 4px;

$footer-background-color: $navy-dark;

$hr-height: 1px;

.button, a {
    transition: background-color 0.1s, color 0.1s;
}

// trying to make the dropdown nav menu animated
// .navbar-menu {
//     position: relative;
//     bottom: 200px;
//     opacity: 0;
//     transition: bottom 0.5s, opacity 0.5s;
//     display: none;

//     &.is-active {
//         bottom: 0px;
//         opacity: 1;
//         display: block;
//     }
// }

@import "bulma-0.7.4/bulma.sass";

#navbar-logo {
    width: 50px;
}

@include mobile {
    #navbar-logo {
        width: 33px;
    }
}

@include widescreen {
    #hero {
        background-image: linear-gradient(0.25turn, rgba($navy, 0.7), rgba($navy, 0.7) 62.5%, rgba($navy, 0.35) 73.75%, rgba($navy, 0)), url('/img/pair-programming.svg');
        background-repeat: no-repeat;
        background-position: top left, top 50% right 0;
        background-size: 1024px 100%, auto 60vh;
    }
}

@media screen and (min-width: $tablet) and (max-width: $widescreen - 1px) {
    #mission {
        background-image: linear-gradient(transparentize($navy, 0.3), transparentize($navy, 0.3)), url('/img/dreamer.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        min-height: 480px;
    }

    #hero {
        background-image: linear-gradient(rgba($navy, 0.7), rgba($navy, 0.7)), url('/img/pair-programming.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
    }
}

@include until-widescreen {
    .has-text-centered-until-widescreen {
        text-align: center;
    }
}

@include touch {
    .has-text-centered-touch {
        text-align: center;
    }
}

.navbar {
    .navbar-brand h3 {
        position: relative;
        top: 0;
        opacity: 1;
        transition: top 0.1s, opacity 0.1s;
    }

    &.navbar-hidden {
        .navbar-brand h3 {
            top: 1rem;
            opacity: 0;
        }

        background-color: transparent;
    }
}

@mixin stripe($color) {
    background-image: linear-gradient($color, $color);
    background-size: 100% 25%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

@mixin gold-stripe {
    @include stripe($gold);
}

.gold-stripe {
    @include gold-stripe;
}

a.navbar-item {
    span {
        @include gold-stripe;
        background-size: 0% 25%;
        background-position: center bottom;
        transition: background-size 0.1s;
    }

    &:hover {
        color: white;
        background-color: transparent !important;

        span {
            background-size: 100% 25%;
        }
    }
}

.content {
    h1, h2, h3, h4, h5, h6 {
        font-family: $family-secondary;
    }
}

.lcg {
    transition: transform 0.25s;

    &:hover {
        transform: scale(1.05);
    }
}

[id="2018-recap"] h2 > span {
    background-position: top 0 left -100px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(120deg, transparent 35%, transparentize(white, 0.75) 45%, transparentize(white, 0.75) 55%, transparent 65%);
    background-repeat: no-repeat;
    background-size: 100px 100%;
    background-color: $gold;

    &:hover {
        color: transparent !important;
        transition: background-position 0.5s linear;
        background-position: top 0 right -100px;
    }
}

.notification {
    &.is-fixed-bottom {
        margin: 0;
        width: 100%;
        border-radius: 0;
        display: inline-block;

        @include tablet {
            border-radius: $radius;
            margin: 1.5rem;
            width: unset;
            box-shadow: $box-shadow;
        }
    }
}

.fixed-notification-container {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.icon.is-lineheight {
    height: 1em;
    width: 1em;
}

.nowrap {
    white-space: nowrap;
}

#list-signup-submit-spinner {
    display: none;
}

#list-signup-form {
    max-height: 350px;
    opacity: 1;
    transition: max-height 0.25s, opacity 0.25s;

    &.list-signup-form-collapsed {
        max-height: 0;
        opacity: 0;
    }
}

#list-signup-status {
    transition: font-size 0.25s;
}

.modal {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.1s, visibility 0.1s;

    .modal-content {
        transition: transform 0.1s;
    }
    
    &.is-active  {
        visibility: visible;
        opacity: 1;

        .modal-content {
            transform: scale(1);
        }
    }
    
    &:not(.is-active) .modal-content {
        transform: scale(1.25);
    }
}

.label:hover {
    color: unset;
}

.button.is-multiline {
    white-space: normal;
    height: initial;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }
}

.is-relative {
    position: relative !important;
}

a:not(.button, .navbar-item, .icon) {
    text-decoration: underline;
}

@import "spacing.scss";
@import "anims.scss";
@import "sticky-footer.scss";
