{{ define "title" }}{{ .Title }} &bullet; Hyphen-Hacks{{ end }}

{{ define "main" }}

{{ partial "navbar" . }}

<section class="section">
    <div class="container">
        <h1 class="is-family-secondary title is-1 is-size-2-mobile has-text-centered is-uppercase">
            <span class="gold-stripe">{{ .Title }}</span>
        </h1>
        <section class="section">
            <article class="content is-size-5">
                {{ .Content }}
            </article>
        </section>
    </div>
</section>

{{ end }}
