{{ if .Site.Data.sponsors.platinum }}
<div class="box m-b-lg m-t-lg">
    <h5 class="is-size-4 is-uppercase">Platinum</h5>
    <div class="columns is-multiline is-centered">
        {{ range .Site.Data.sponsors.platinum }}
        {{ partial "sponsor" (dict "sponsor" . "background" "light" "columnSize" "half") }}
        {{ end }}
    </div>
</div>
{{ end }}

<div class="columns is-centered">
    <div class="column is-narrow box m-b-lg m-t-lg p-lg">
        <h5 class="is-size-4 is-uppercase">Partner</h5>
        <a href="https://18techventures.com" target="_blank" rel="noopener">
            <img src="/img/sponsor-logos/18tech-ventures.png" alt="18Tech Ventures" title="18Tech Ventures" width="250">
        </a>
    </div>
</div>

{{ if .Site.Data.sponsors.gold }}
<div class="box m-b-lg m-t-lg">
    <h5 class="is-size-4 is-uppercase">Gold</h5>
    <div class="columns is-multiline is-centered">
        {{ range .Site.Data.sponsors.gold }}
        {{ partial "sponsor" (dict "sponsor" . "background" "light" "columnSize" "one-third") }}
        {{ end }}
    </div>
</div>
{{ end }}

{{ if .Site.Data.sponsors.silver }}
<div class="box m-b-lg m-t-lg">
    <h5 class="is-size-4 is-uppercase">Silver</h5>
    <div class="columns is-multiline is-centered">
        {{ range .Site.Data.sponsors.silver }}
        {{ partial "sponsor" (dict "sponsor" . "background" "light" "columnSize" "one-quarter") }}
        {{ end }}
    </div>
</div>
{{ end }}

{{ if .Site.Data.sponsors.bronze }}
<div class="box m-b-lg m-t-lg">
    <h5 class="is-size-4 is-uppercase">Bronze</h5>
    <div class="columns is-multiline is-centered">
        {{ range .Site.Data.sponsors.bronze }}
        {{ partial "sponsor" (dict "sponsor" . "background" "light" "columnSize" "one-fifth") }}
        {{ end }}
    </div>
</div>
{{ end }}

{{ if .Site.Data.sponsors.copper }}
<div class="columns is-centered">
    <div class="column is-narrow box m-b-lg m-t-lg p-lg">
        <h5 class="is-size-5 is-uppercase m-b-md">Copper</h5>
        {{ range .Site.Data.sponsors.copper }}
        {{ partial "sponsor" (dict "sponsor" . "background" "light" "columnSize" "12") }}
        {{ end }}
    </div>
</div>
{{ end }}
