<div class="box is-relative is-marginless is-clipped p-lg">
    <h1 class="title is-4 is-family-secondary has-text-dark">
        Sign up for our mailing list
    </h1>
    <p class="is-size-5 has-text-dark m-b-lg">
        {{ .signupMessage }}
    </p>
    <form method="POST" action="https://api.hyphen-hacks.com/api/v1/addEmail" id="list-signup-form">
        <div class="field is-grouped">
            <div class="control is-expanded">
                <input type="email" name="email" placeholder="Email" required class="input is-medium" id="list-signup-email">
            </div>
            <div class="control">
                <button type="submit" class="button is-primary is-medium m-l-md is-uppercase" id="list-signup-submit">Sign up</button>
            </div>
            <p class="help is-danger" id="email-error-text"></p>
        </div>
        <div class="field">
            <p class="control">
            </p>
        </div>
    </form>
    <p class="help">
        By signing up, you consent to receive emails from Hyphen-Hacks.
    </p>
    <div id="list-signup-success-container" class="box is-overlay is-marginless is-paddingless is-invisible has-text-centered columns is-mobile is-vcentered">
        <div class="column">
            <h1 class="title is-4 is-family-secondary has-text-dark">
                Signup successful!
            </h1>
            <p class="subtitle is-5 has-text-dark">
                {{ .successMessage }}
            </p>
        </div>
    </div>
    <div id="list-signup-error-container" class="box is-overlay is-marginless is-paddingless is-invisible has-text-centered columns is-mobile is-vcentered">
        <div class="column">
            <h1 class="title is-4 is-family-secondary has-text-dark">
                An error occurred.
            </h1>
            <p class="subtitle is-5 has-text-dark" id="list-signup-error-text">
                
            </p>
        </div>
    </div>
</div>


{{ $listSignupJS := resources.Get "dist/listSignup.js" | resources.Fingerprint }}
<script src="{{ $listSignupJS.Permalink }}" integrity="{{ $listSignupJS.Data.Integrity }}" defer></script>
