<nav id="navbar" class="navbar {{ if .IsHome }}navbar-hidden {{ end }}is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <img src="/img/logo.svg" alt="" id="navbar-logo">
            <h3 class="is-family-secondary is-size-4 is-size-5-mobile">&nbsp;Hyphen-Hacks</h3>
        </a>

        <a role="button" class="navbar-burger burger" id="burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu" id="navbarMenu">
        <div class="navbar-end is-uppercase">
            <a href="/#mission" class="navbar-item"><span>Mission</span></a>
            <a href="/#2018-recap" class="navbar-item"><span>2018 Recap</span></a>
            <a href="/#sponsors" class="navbar-item"><span>Sponsors</span></a>
            <a href="/faq" class="navbar-item"><span>FAQ</span></a>
            <a href="/contact" class="navbar-item"><span>Contact</span></a>
            <div class="navbar-item">
                {{ partial "apply-volunteer-buttons" . }}
            </div>
        </div>
    </div>
</nav>
