<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="#" class="navbar-item">
            <img src="/img/logo.svg" width="50">
            <h3 class="is-family-secondary is-size-4">&nbsp;Hyphen-Hacks</h3>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-end is-uppercase">
            <a href="#mission" class="navbar-item">Mission</a>
            <a href="#2018-recap" class="navbar-item">2018 Recap</a>
            <a href="#sponsors" class="navbar-item">Sponsors</a>
            <a href="#faq" class="navbar-item">FAQ</a>
            <a href="#contact" class="navbar-item">Contact</a>
            <div class="navbar-item">
                <div class="buttons">
                    <a href="#apply" class="button is-primary">Apply Now</a>
                    <a href="#volunteer" class="button is-primary is-outlined">Volunteer</a>
                </div>
            </div>
        </div>
    </div>
</nav>
