{{ define "main" }}

{{ partial "navbar" . }}

<section class="hero is-fullheight-with-navbar">
    <div class="hero-body" id="hero">
        <div class="column is-12 columns is-desktop is-multiline">
            <div class="column is-11-desktop is-half-fullhd is-offset-1">
                <h1 class="title is-size-1 is-family-secondary">
                    Hyphen-Hacks
                </h1>
                <a id="scroll-breakpoint"></a>
                <h2 class="subtitle is-size-4 has-text-primary">
                    {{ partial "subtitle" . }}
                </h2>
                <p class="is-size-5">
                    OCTOBER 19-20, 2019<br>
                    Lick-Wilmerding High School (<a href="https://goo.gl/maps/Ty2LYMEwmC52" target="_blank">view map</a>)
                </p>
                {{ partial "apply-volunteer-buttons" . }}
            </div>
            <div class="column">
                <img src="/img/pair-programming.svg" class="is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">
                {{ partial "platinum-sponsors" . }}
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <div class="has-text-centered is-uppercase">
            <p>Learn More</p>
            &#9660;
        </div>
    </div>
</section>

<section class="hero is-dark is-fullheight-with-navbar">
    <div class="hero-body">
        <h1 class="title">temporary section to make the page taller</h1>
    </div>
</section>

{{ end }}

{{ define "extraJS" }}
{{ $homeJS := resources.Get "js/home.js" | resources.Fingerprint }}
<script src="{{ $homeJS.Permalink }}" integrity="{{ $homeJS.Data.Integrity }}"></script>
{{ end }}
