{{ define "main" }}

{{ partial "navbar" . }}

<main class="column is-10 is-offset-1 is-desktop">
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body" id="hero">
            <div>
                <h1 class="title is-1 is-size-2-mobile is-family-secondary">
                    <a id="scroll-breakpoint"></a>
                    Hyphen-Hacks
                </h1>
                <h2 class="subtitle is-4 is-size-5-mobile has-text-primary">
                    {{ partial "subtitle" . }}
                </h2>
                <p class="is-size-5">
                    OCTOBER 12-13, 2019<br>
                    Lick-Wilmerding High School
                    <span class="nowrap">
                        (<a href="https://goo.gl/maps/Ty2LYMEwmC52" target="_blank" rel="noopener">view map
                        <span class="icon is-small"><i class="fas fa-external-link-alt is-size-6"></i></span></a>)
                    </span>
                </p>
                <div class="m-t-lg">
                    {{ partial "apply-volunteer-buttons" . }}
                </div>
            </div>
            {{/*  <div class="column is-offset-1-fullhd">
                <img src="/img/pair-programming.svg" alt="" class="is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">
                {{ partial "platinum-sponsors" . }}
            </div>  */}}
        </div>
        <div class="hero-foot">
            <div class="has-text-centered is-uppercase m-b-lg">
                <p>Learn More</p>
                <span class="icon is-small"><i class="fas fa-chevron-down is-size-6"></i></span>
            </div>
        </div>
    </section>

    <section class="section" id="mission">
        <div class="columns is-multiline is-vcentered">
            <div class="column is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-5-widescreen">
                <img src="/img/dreamer.svg" alt="">
            </div>
            <div class="column is-offset-1-widescreen">
                <h1 class="title is-1 is-size-2-mobile is-family-secondary is-uppercase has-text-centered-until-widescreen">
                    <span class="gold-stripe">Mission</span>
                </h1>
                <p class="is-size-5">
                    {{ partial "mission" . }}
                </p>
            </div>
        </div>
    </section>

    <section class="section" id="learn-connect-grow">
        <div class="tile is-ancestor">
            <div class="tile smart-gap-lg pop-in lcg" id="learn">
                <div class="box p-t-md p-r-lg p-b-lg p-l-lg">
                    <h3 class="is-size-3 is-family-secondary is-uppercase m-b-md">
                        <span class="gold-stripe">Learn</span>
                    </h3>
                    <p class="is-size-5-tablet">
                        {{ partial "learn" . }}
                    </p>
                </div>
            </div>
            <div class="tile smart-gap-lg pop-in delay-100 lcg" id="connect">
                <div class="box p-t-md p-r-lg p-b-lg p-l-lg">
                    <h3 class="is-size-3 is-family-secondary is-uppercase m-b-md">
                        <span class="gold-stripe">Connect</span>
                    </h3>
                    <p class="is-size-5-tablet">
                        {{ partial "connect" . }}
                    </p>
                </div>
            </div>
            <div class="tile smart-gap-lg pop-in delay-200 lcg" id="grow">
                <div class="box p-t-md p-r-lg p-b-lg p-l-lg">
                    <h3 class="is-size-3 is-family-secondary is-uppercase m-b-md">
                        <span class="gold-stripe">Grow</span>
                    </h3>
                    <p class="is-size-5-tablet">
                        {{ partial "grow" . }}
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="2018-recap">
        <h1 class="is-family-secondary is-size-1 is-size-2-mobile is-uppercase has-text-centered m-b-xl">
            <span class="gold-stripe">2018 Recap</span>
        </h1>
        <div class="columns is-size-3 is-size-4-mobile is-family-secondary">
            <div class="column has-text-centered pop-in" id="recap-prizes">
                <h2 class="is-size-2 has-text-primary"><span>{{ .Site.Data.recap.prizes }}</span></h2>
                In Prizes
            </div>
            <div class="column has-text-centered pop-in delay-100" id="recap-students">
                <h2 class="is-size-2 has-text-primary"><span>{{ .Site.Data.recap.students }}</span></h2>
                Students
            </div>
            <div class="column has-text-centered pop-in delay-200" id="recap-mentors">
                <h2 class="is-size-2 has-text-primary"><span>{{ .Site.Data.recap.mentors }}</span></h2>
                Experienced Mentors
            </div>
        </div>
    </section>

    <section class="section m-t-xl m-b-xl">
        <div class="tile is-ancestor">
            <div class="tile smart-gap-lg">
                <div class="box p-lg has-text-dark">
                    <h1 class="title is-3 is-family-secondary has-text-dark">Attend Hyphen-Hacks!</h1>
                    <p class="m-b-lg">
                        As an attendee, you will get to experience 24 hours of
                        programming, games, free food, and mentorship from
                        industry professionals. If this strikes a chord with
                        you, please apply! No experience is necessary; at
                        Hyphen-Hacks, we pride ourselves on making an accessible
                        hackathon for all! As we did last year, we will have
                        free workshops on a range of topics intended for
                        beginners and advanced programmers. Don’t have a team?
                        No worries: we will have a team building portion at the
                        beginning of the event.
                    </p>
                    <div class="buttons is-centered">
                        <a href="/apply" class="button is-primary is-medium is-uppercase">Apply now!</a>
                    </div>
                </div>
            </div>
            <div class="tile smart-gap-lg">
                <div class="box p-lg is-flex" style="flex-direction: column">
                    <h1 class="title is-3 is-family-secondary has-text-dark">Volunteer at Hyphen-Hacks!</h1>
                    <p style="margin-bottom: auto;">
                        As a volunteer, you will help create a positive
                        experience for high schoolers interested in computer
                        science. At Hyphen-Hacks, we pride ourselves on creating
                        a safe, supportive environment for teens of all
                        backgrounds to come together, push their limits, and
                        create something amazing.
                    </p>
                    <div class="buttons is-centered">
                        <a href="/volunteer" class="button is-primary is-medium is-uppercase">Learn more!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="sponsors">
        <h1 class="is-family-secondary is-size-1 is-size-2-mobile is-uppercase has-text-centered m-b-md">
            <span class="gold-stripe">Sponsors</span>
        </h1>
        <p class="has-text-centered is-size-5 m-b-md">
            Interested in sponsoring? Contact us at
            <a href="mailto:finance@hyphen-hacks.com">finance@hyphen-hacks.com</a>.
        </p>
        {{ partial "all-sponsors" . }}
    </section>
</main>

{{ if false }}
<div class="fixed-notification-container has-notification-animated">
    <div class="notification is-link is-fixed-bottom is-size-5">
        <button class="delete"></button>
        Currently at Hyphen-Hacks? <a href="/live">This page</a> has handy links to
        all of our resources that you may find helpful during the event.
    </div>
</div>
{{ end }}

<div class="fixed-notification-container has-notification-animated">
    <div class="notification is-link is-fixed-bottom is-size-5 is-size-6-mobile">
        <button class="delete"></button>
        Attendee applications for Hyphen-Hacks 2019 are now open!
        <a href="/apply">
            Click here to apply.
        </a>
    </div>
    <div class="notification is-primary is-fixed-bottom is-size-5 is-size-6-mobile">
        <button class="delete"></button>
        Attendee applications for Hyphen-Hacks 2019 are now open!
        <a href="/apply">
            Click here to apply.
        </a>
    </div>
    <div class="notification is-dark is-fixed-bottom is-size-5 is-size-6-mobile">
        <button class="delete"></button>
        Attendee applications for Hyphen-Hacks 2019 are now open!
        <a href="/apply">
            Click here to apply.
        </a>
    </div>
</div>

{{ end }}

{{ define "extraJS" }}
{{ $homeJS := resources.Get "dist/home.js" | resources.Fingerprint }}
<script src="{{ $homeJS.Permalink }}" integrity="{{ $homeJS.Data.Integrity }}" defer></script>
{{ end }}
