{{ define "main" }}

{{ partial "navbar" . }}

<main class="column is-10 is-offset-1 is-desktop">
    <section class="hero is-fullheight-with-navbar">
        <div class="hero-body" id="hero">
            <div class="columns is-desktop is-multiline is-vcentered">
                <div class="column is-12-desktop is-half-fullhd">
                    <h1 class="title is-1 is-family-secondary">
                        Hyphen-Hacks
                    </h1>
                    <h2 class="subtitle is-4 has-text-primary">
                        <a id="scroll-breakpoint"></a>
                        {{ partial "subtitle" . }}
                    </h2>
                    <p class="is-size-5">
                        Date TBA<br>
                        Lick-Wilmerding High School (<a href="https://goo.gl/maps/Ty2LYMEwmC52" target="_blank">view map</a>)
                    </p>
                    {{ partial "apply-volunteer-buttons" . }}
                </div>
                <div class="column is-offset-1-fullhd">
                    <img src="/img/pair-programming.svg" class="is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-hidden-widescreen-only">
                    {{ partial "platinum-sponsors" . }}
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="has-text-centered is-uppercase">
                <p>Learn More</p>
                &#9660;
            </div>
        </div>
    </section>

    <section class="section" id="mission">
        <div class="columns is-multiline is-vcentered">
            <div class="column is-hidden-mobile is-hidden-tablet-only is-hidden-desktop-only is-5-widescreen">
                <img src="/img/dreamer.svg">
            </div>
            <div class="column is-offset-1-widescreen">
                <h1 class="title is-2 is-family-secondary is-uppercase has-text-centered-until-widescreen">
                    <span class="gold-stripe">Mission</span>
                </h1>
                <p class="is-size-5">
                    {{ partial "mission" . }}
                </p>
            </div>
        </div>
    </section>

    <section class="section" id="2018-recap">
        <section class="hero is-medium">
            <div class="hero-body">
                <h1 class="is-family-secondary is-size-1 is-uppercase has-text-centered">
                    <span class="gold-stripe">2018 Recap</span>
                </h1>
            </div>
        </section>
        <div class="columns is-size-3 is-family-secondary">
            <div class="column has-text-centered">
                <h2 class="is-size-2 has-text-primary">{{ .Site.Data.recap.prizes }}</h2>
                In Prizes
            </div>
            <div class="column has-text-centered">
                <h2 class="is-size-2 has-text-primary">{{ .Site.Data.recap.students }}</h2>
                Students
            </div>
            <div class="column has-text-centered">
                <h2 class="is-size-2 has-text-primary">{{ .Site.Data.recap.mentors }}</h2>
                Experienced Mentors
            </div>
        </div>
    </section>

    <section class="section" id="sponsors">
            <section class="hero is-medium">
                    <div class="hero-body">
                        <h1 class="is-family-secondary is-size-1 is-uppercase has-text-centered">
                            <span class="gold-stripe">Sponsors</span>
                        </h1>
                    </div>
                </section>
        {{ partial "all-sponsors" . }}
    </section>
</main>

{{ end }}

{{ define "extraJS" }}
{{ $homeJS := resources.Get "js/home.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $homeJS.Permalink }}" integrity="{{ $homeJS.Data.Integrity }}"></script>
{{ end }}
