body {
  @apply bg-gray text-gray-lightest;
}
.nav_link {
  @apply mx-2 my-1 font-medium duration-200 no-underline;
}
.nav_link:hover {
  @apply  text-gray-hover;
}
.btn {
  @apply text-gray-lightest px-5 py-2 bg-primary border-primary border-4 font-bold rounded-sm duration-200 no-underline;
}
.btn--dark {
  @apply text-gray-lightest px-5 py-2 bg-gray border-gray border-4 font-bold rounded-sm duration-200 no-underline;

}
.btn--dark:hover {
  @apply text-gray-lightest bg-gray-lighter border-gray-lighter;

}
.btn:hover {
  @apply text-gray-lightest bg-primary-darker  border-primary-darker;
}
.btn--outline {
  @apply text-gray-lightest px-5 py-2 border-4 border-primary font-bold rounded-sm duration-200 no-underline;
}
.btn--outline:hover {
  @apply text-gray-lightest bg-primary-darker;
}
.home_header {
  height: 80vh;
}
.input {
  @apply bg-gray-form p-2 border-4 border-gray-form rounded-sm duration-200;
}
.input:hover {
  @apply bg-gray-form_hover border-gray-form_hover;

}
a {
  @apply text-primary underline;
}
a.dark {
  @apply text-gray underline;
}
a.dark:hover {
  @apply text-gray-lighter underline;
}
a:hover {
  @apply text-gray-hover;
}
.twentyTwentyHeader {
  position: absolute;
  @apply ml-auto font-black text-black;
  font-size: 40vh;
  z-index: 0;
  float: right;
  text-align: right;
  right: 10%;
  @media (max-width: 639px) {
    font-size: 20vw;

  }
}
.twentyTwentyHeaderPlaceholder {
  position: absolute;
  @apply ml-auto font-black text-black;
  font-size: 40vh;
  z-index: -1;
  float: right;
  text-align: right;
  right: 10%;
  top: 15%;

}
.header_image {
  position: relative;
  margin-top: -8rem;
  height: auto;
  width: 90%;
  margin-bottom: 3rem;
  @apply mx-auto;
  @media (max-width:640px) {
    width: 100%;
    margin-top: -5rem;
  }
}
.header_image_container {
  margin-top: 8rem;
  @media (max-width:640px) {

    margin-top: 5rem;
  }
}
.feature_headline {
  @apply font-bold text-4xl mt-5;
  @media (min-width:640px) {
    @apply text-8xl mt-16 ;
  }
}
.feature_text {
  @apply font-bold text-base mb-5 max-w-4xl;
  @media (min-width:640px) {
    @apply text-3xl mb-16;
  }
}
.feature_text.right {
  @apply ml-auto text-right;
}
.infoPage {
  min-height: 70vh;
}


.faqHeader {
  @apply font-bold text-2xl mt-5 mb-2;
  @media (min-width:640px) {
    @apply  text-4xl;
  }
}

.faqText {
  @apply font-bold  mb-5;
}
#applyBanner {
  width: 100%;
  height: 40vh;
  background: url("./Ronan-3765.jpeg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}