{{ if .Get 0 }}
<section class="section has-text-centered">
{{ end }}

<!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.com/e/hyphen-hacks-tickets-60509274870" rel="noopener noreferrer" target="_blank"></noscript>
<!-- You can customize this button any way you like -->
<button id="eventbrite-widget-modal-trigger-60509274870" type="button" class="button is-primary is-medium is-uppercase">{{ .Get 2 }}</button>
<noscript></a>Buy Tickets on Eventbrite</noscript>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        if (typeof _paq == 'object') {
            _paq.push(['trackEvent', 'Applications', '{{ .Get 1 }}SignupComplete']);
        }
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '60509274870',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-60509274870',
        onOrderComplete: exampleCallback
    });
</script>

{{ if .Get 0 }}
</section>
{{ end }}
