<form method="POST" action="{{/*https://api.hyphen-hacks.stomprocket.io/api/v1/addEmail*/}}" id="ml-signup-form">
    <fieldset disabled>
        <div class="field is-horizontal has-addons">
            <label for="email" class="label field-label is-normal">Email</label>
            <div class="control field-body">
                <input type="email" name="email" placeholder="you@example.com" required class="input" id="ml-email">
            </div>
            <div class="control">
                <input type="submit" value="Sign up" class="button is-primary" id="ml-submit">
            </div>
        </div>
    </fieldset>
</form>
<div class="has-text-centered m-t-md">
    <span id="ml-signup-status"></span>
</div>

{{ $mlSignupJS := resources.Get "js/mailing-list-signup.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $mlSignupJS.Permalink }}" integrity="{{ $mlSignupJS.Data.Integrity }}"></script>
