<form method="POST" action="{{/*https://api.hyphen-hacks.stomprocket.io/api/v1/addEmail*/}}">
    <fieldset disabled>
        <div class="field is-horizontal has-addons">
            <label for="email" class="label field-label is-normal">Email</label>
            <div class="control field-body">
                <input type="email" name="email" placeholder="you@example.com" required class="input">
            </div>
            <div class="control">
                <input type="submit" value="Sign up" class="button is-primary">
            </div>
        </div>
    </fieldset>
</form>
